.ofertas-section {
  padding: 100px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

.ofertas-title {
  font-size: 3rem;
  margin-bottom: 100px;
  color: #c62828; /* Color Super Asia */
  font-weight: 700;

}

.ofertas-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ofertas-img {
  width: 250px;
  max-width: 90%;
  object-fit: contain;
}

.ofertas-text {
  font-size: 1.2rem;
  color: #555;
}
